body {
    margin: 0;
    font-size: 30px;
    color: white;
}

.wrapper {
    
}

.container {
    border: 1px solid red;
    background-color: rgb(211, 255, 255);
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.header, .footer {
    background-color: rgb(0, 148, 136);
    margin: 0 30px;
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.content-aside {
    background-color: rgb(0, 170, 8);
    order: 2;
    flex: 1;
    display: flex;    
    align-items: center;
    justify-content: center;
}

.content-article {
    background-color: rgb(255, 157, 0);
    order: 1;
    flex: 2;
    margin-bottom: 3%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}   

.content-article span {
    position: absolute;
    left: 50%;
    top: 50%;
}

.content-img {
    background-color: rgb(229, 255, 0);
    width: 20%;
    height: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}
